/* app.component.css */
.mycsssnackbartest {
    background-color: #e33c36 !important; /* Green background */
    color: rgb(28, 25, 25); /* White text */
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #2196f3;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }